.img__hidden, .txt__hidden {
    display: none;
}

.app {
    background-color: #C8D3D5;
}

.borda {
    /* margin: 5vh 15vw; */
    border: 5px solid #464646;
    /* border-radius: 100px; */
    background-color: #fdfdfd;
}

.cabecalho {
    /* padding: 1% 3rem; */
    display: flex;
    justify-content: space-between;
    /* font-size: 20px; */
    background-color: #C8D3D5;
}

.cabecalho__titulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.cabecalho__lista {
    display: flex;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: #464646;
    font-weight: 700;
}

.cabecalho__lista__items__link {
    text-decoration: none;
    color: #464646;
}

/* .cabecalho__lista__items {
    margin-left: 2rem;
} */

.conteudo {
    background-image: linear-gradient(0deg,#6E8387 , #C8D3D5) ;
}

.conteudo__forca {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0 2vh;
}

/* .conteudo__forca__img {
    height: 40vh;
} */

.conteudo__forca__txt {
    display: flex;
    flex-direction: column;
}

.conteudo__forca__txt__perdeu, .conteudo__forca__txt__ganhou {
    font-family: 'Mitr', sans-serif;
    /* font-size: 3em; */
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    border: none;
    resize: none;
    /* height: 100px; */
    width: 30vw;
    background-color: #FCFAFA;
}

.conteudo__forca__txt__perdeu:focus, .conteudo__forca__txt__ganhou:focus {
    outline: none;
}

.conteudo__forca__txt__erros {
    height: 100px;
    width: 30vw;
    border: none;
    resize: none;
    font-family: 'Mitr', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    background-color: #FCFAFA;
}

.conteudo__forca__txt__erros:focus {
    outline: none;
}

.conteudo__jogo {
    display: flex;
    justify-content: center;
    column-gap: 1vw;
    padding: 0 10% 1vh 10%;
}

.conteudo__jogo__letras {
    /* width: 5vw;
    height: 4vw; */
    text-align: center;
    border-radius: 10%;
    border: .3vw solid #000000;
    border-bottom: 1vw solid #000000;
    font-family: 'Mitr', sans-serif;
    /* font-size: 3em; */
    text-transform: uppercase;
    color: #000000;
    background-color: #E8ECED;
}

.conteudo__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}

.conteudo__menu__novaPalavra {
    display: flex;
    justify-content: center;
}

.conteudo__menu__novoJogo, .conteudo__menu__novaPalavra__botao, .conteudo__menu__input{
    /* width: 13vw; */
    background-color: #FCFAFA;
    font-family: 'Mitr', sans-serif;
    /* font-size: 1.5em; */
    /* height: 100px; */
}

.conteudo__menu__novaPalavra__botao {
    border-top-left-radius: 20vw;
    border-bottom-left-radius: 20vw;
    border-right: none;
    padding: 0;
}

.conteudo__menu__input {
    border-top-right-radius: 20vw;
    border-bottom-right-radius: 20vw;
    border-left: none;
    border-color: #000000;
    text-align: center;
    padding: 0;
    /* height: calc(100px - 4px) */
}

.conteudo__menu__novoJogo {
    margin-right: 1vw;
    border-radius: 20vw;
}

.conteudo__menu__novaPalavra__Info {
    /* margin-top: 3vh; */
    height: 1em;
}

.conteudo__teclado {
    display: none;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6E8387;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    /* height: 5vh; */
}
@media screen and (min-width: 0) {
    .conteudo__teclado {
        display: initial;
    }

    .conteudo {
        height: 85vh;
    }

    .rodape {
        height: 6vh;
    }

    .borda {
        margin: 1vh 2.5vw 3vh;
        width: 90vw;
        border-radius: 5vw;
    }

    .conteudo__forca__img {
        height: 30vh;
        width: auto;
    }

    .conteudo__menu__novoJogo, .conteudo__menu__novaPalavra__botao, .conteudo__menu__input {
        width: 30%;
        font-size: 12px;
        height: 10vh;
        border-color: #000000;
    }

    .conteudo__menu__input {
        height: calc(10vh - 4px);
    }

    .cabecalho__lista__items {
        margin-left: 1rem;
    }

    .cabecalho {
        font-size: 16px;
        padding: 4vh 1rem 1vh;
        height: 3vh;
    }

    .conteudo__menu__novaPalavra__Info {
        text-align: center;
        margin-top: 1vh;
    }

    .conteudo__jogo__letras {
        width: 10vw;
        height: 8vw;
        font-size: 2.5rem;
    }

    .conteudo__teclado__linha1, .conteudo__teclado__linha2, .conteudo__teclado__linha3 {
        display: flex;
        justify-content: center;
        column-gap: .9vw;
        row-gap: .9vw;
    }

    .conteudo__teclado__tecla {
        height: 9vw;
        width: 9vw;
        text-align: center;
        border-radius: 10%;
        border: .3vw solid #000000;
        border-bottom: 1vw solid #000000;
        font-family: 'Mitr', sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        color: #000000;
        background-color: #E8ECED;
    }

    .conteudo__forca__txt__ganhou, .conteudo__forca__txt__perdeu, .conteudo__forca__txt__erros {
        font-size: 1.2rem;
        height: 80px;
    }
}

@media screen and (min-width: 768px) {
    .conteudo__jogo__letras {
        height: 4vw;
        width: 5vw;
    }

    .conteudo__menu {
        padding: 0;
    }

    .conteudo__teclado__tecla {
        width: 7vw;
        height: 7vh;
    }

    .conteudo__teclado__linha1, .conteudo__teclado__linha2, .conteudo__teclado__linha3 {
        margin-bottom: 3px;
    }

    .conteudo__forca__txt__ganhou, .conteudo__forca__txt__perdeu, .conteudo__forca__txt__erros {
        font-size: 2rem;
    }

    .cabecalho__titulo, .cabecalho__lista__items__link {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .conteudo__teclado {
        display: none;
    }

    .conteudo__forca__img {
        height: 45vh;
    }

    .borda   {
        width: 70vw;
        margin: 3vh 15vw;
    }

    .conteudo {
        height: 82vh;
    }

    .cabecalho {
        padding: 4vh 3rem 2vh;
    }
}